
.container { 
  height: fit-content;
  width: fit-content;
  border-radius: 3px;
  border: solid 1px rgb(213, 216, 45);
  background-color: rgb(235, 226, 211);
}
@media only screen and (max-height: 600px) {
  body { 
    background-color: rgb(82, 102, 109);
  }
}

.title{ 
  margin: 0 auto;
  background-color: rgb(212, 135, 104);
  color: rgb(15, 19, 31);
  text-align: center;
}

.header {
   display: flex;
  box-sizing: border-box;
}


.myList { 
  background-color: rgb(235, 226, 211);
}

.myListInfo { 
  /* display: none; */
  margin: 0;
  padding: 0;
  font-size: 20px; 
}

.myListInfo > .myListDetail:hover { 
  background-color: brown;
}

.myListInfo > .myListDetail::before { 
  content: '';
  position: absolute;
}

.input { 
  padding: 10px;
  width: 90;
}

.addBtn { 
  padding:10px 5px;
  width: 20%;
  background-color: darkslateblue;
  float: left;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.4s;
  font-size: 15px;
}

.addBtn:hover { 
  background-color: #bbb;
} 

li { 
  list-style: none;
}